[Unit]
Description=gfsmount

[Service]
# If using a non root user, then
# make sure mount dir is writable as user
User=bots
RestartSec=1
Type=forking
TimeoutStartSec=0
Restart=always
ExecStart=/gremlinfs/systemd_start_gremlinfs.sh 

[Install]
WantedBy=multi-user.target
